

<div class="container-lg">

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>




<%= image_tag url_for(@article.profile_picture), :class => "img-thumbnail" %>

<p><%= @article.profile_picture %></p>

aws-railsapp-uploads


<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>


</div>
